{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
<body class="content">
  <section class="d-flex justify-content-center align-items-center vh-100">
    <main class="form-signin p-4 rounded shadow-sm">
      <div class="container">
        <h1 class="heading mb-4">{{ movie.title }}</h1>
        
        {{render_form(form, novalidate=True)}}
          
        </div>
    </main>
  </section>
</body>
{% endblock %}